@import url("https://fonts.cdnfonts.com/css/chinese-rocks");

html::-webkit-scrollbar {
    display: none;
}

html {
    font-family: "Chinese Rocks Rg", sans-serif !important;
}

@media (width: 3840px) and (height: 2160px) {
    .success {
        background-color: rgba(23, 23, 23, 90%);
        border-radius: 10px;
        box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
        border-left: 0.5rem solid #005915;
        font-size: 1.5vh;
    }

    .primary {
        background-color: rgba(23, 23, 23, 90%);
        border-radius: 10px;
        box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
        border-left: 5px solid #014894;
        font-size: 1.5vh;
    }

    .error {
        background-color: rgba(23, 23, 23, 90%);
        border-radius: 10px;
        box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
        border-left: 5px solid #c10114;
        font-size: 1.5vh;
    }

    .police {
        background-color: rgba(23, 23, 23, 90%);
        border-radius: 10px;
        box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
        border-left: 5px solid #0260a8;
        font-size: 1.5vh;
    }

    .medic {
        background-color: rgba(23, 23, 23, 90%);
        border-radius: 10px;
        box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
        border-left: 5px solid #f44236;
        font-size: 1.5vh;
    }
	
    .horse {
        background-color: rgba(23, 23, 23, 90%);
        border-radius: 10px;
        box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
        border-left: 5px solid #b57600;
        font-size: 1.5vh;
    }

}

.success {
    background-color: rgba(23, 23, 23, 90%);
    border-radius: 10px;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
    border-left: 0.5rem solid #005915;
}

.primary {
    background-color: rgba(23, 23, 23, 90%);
    border-radius: 10px;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
    border-left: 5px solid #014894;
}

.error {
    background-color: rgba(23, 23, 23, 90%);
    border-radius: 10px;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
    border-left: 5px solid #c10114;
}

.police {
    background-color: rgba(23, 23, 23, 90%);
    border-radius: 10px;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
    border-left: 5px solid #0260a8;
}

.medic {
    background-color: rgba(23, 23, 23, 90%);
    border-radius: 10px;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
    border-left: 5px solid #f44236;
}

.horse {
    background-color: rgba(23, 23, 23, 90%);
    border-radius: 10px;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
    border-left: 5px solid #b57600;
}