@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');@import url('https://fonts.cdnfonts.com/css/pricedown');@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');


#main-container {
    width: 100%;
    height: auto;
}

/* Money */

#money-container {
    position: absolute;
    right: 2vw;
    top: 5vh;
    font-weight: 400;
    font-size: 40px;
  }
  
  #sign {
    font-family: 'Pricedown Bl', sans-serif;
    text-align: right;
    color: #00ac31;
    text-shadow: -1px -1px 0 rgba(0,0,0, 0.7), 1px -1px 0 rgba(0,0,0, 0.7), -1px 1px 0 rgba(0,0,0, 0.7), 1px 1px 0 rgba(0,0,0, 0.7);
  }

  #signbank {
    font-family: 'Pricedown Bl', sans-serif;
    text-align: right;
    color: #D4AF37;
    text-shadow: -1px -1px 0 rgba(0,0,0, 0.7), 1px -1px 0 rgba(0,0,0, 0.7), -1px 1px 0 rgba(0,0,0, 0.7), 1px 1px 0 rgba(0,0,0, 0.7);
  }
  
  #plus {
    font-size: 50px;
    font-family: 'Pricedown Bl', sans-serif;
    text-align: right;
    color: #00ac31;
    text-shadow: -1px -1px 0 rgba(0,0,0, 0.7), 1px -1px 0 rgba(0,0,0, 0.7), -1px 1px 0 rgba(0,0,0, 0.7), 1px 1px 0 rgba(0,0,0, 0.7);
  }
  
  #minus {
    font-size: 50px;
    font-family: 'Pricedown Bl', sans-serif;
    text-align: right;
    color: #ac0000;
    text-shadow: -1px -1px 0 rgba(0,0,0, 0.7), 1px -1px 0 rgba(0,0,0, 0.7), -1px 1px 0 rgba(0,0,0, 0.7), 1px 1px 0 rgba(0,0,0, 0.7);
  }
  
  #bank {
    font-family: 'Pricedown Bl', sans-serif;
    text-align: right;
    color: #D4AF37;
    text-shadow: -1px -1px 0 rgba(0,0,0, 0.7), 1px -1px 0 rgba(0,0,0, 0.7), -1px 1px 0 rgba(0,0,0, 0.7), 1px 1px 0 rgba(0,0,0, 0.7);
  }


  #money {
    font-family: 'Pricedown Bl', sans-serif;
    text-align: right;
    color: #ffffff;
    text-shadow: -1px -1px 0 rgba(0,0,0, 0.7), 1px -1px 0 rgba(0,0,0, 0.7), -1px 1px 0 rgba(0,0,0, 0.7), 1px 1px 0 rgba(0,0,0, 0.7);
  }
  
  #bloodmoney {
    font-family: 'Pricedown Bl', sans-serif;
    text-align: right;
    color: #b02525;
    text-shadow: -1px -1px 0 rgba(0,0,0, 0.7), 1px -1px 0 rgba(0,0,0, 0.7), -1px 1px 0 rgba(0,0,0, 0.7), 1px 1px 0 rgba(0,0,0, 0.7);
  }

/* Player HUD */

#playerhud {
    display: inline-block;
    position: absolute;
    bottom: 4.0vw;
    left: 0.9vh;
}

.progress {
    margin-top: 5px!important; 
 }


/* Vehicle HUD */

.ui-car-fuel,
.ui-car-nos {
    position: absolute;
}

.ui-car-seatbelt,
.ui-car-cruise {
    position: absolute;
}

.ui-car-speed {
    position: absolute;
    bottom: 4vh;
    left: 16vw;
}

.ui-car-fuel {
    left: 18.9vw;
    bottom: 1.9vw;
}

.ui-car-nos {
    left: 16.7vw;
    bottom: 5.4vw;
}

.ui-car-seatbelt {
    left: 19.1vw;
    bottom: 3.56vw;
}

.ui-car-cruise {
    left: 18.3vw;
    bottom: 8.7vh;
}

.ui-car-street {
    font-size: 15px;
    text-transform: uppercase;
    position: absolute;
    bottom: 0vh;
    left: 16vw;
    color: #ededed;
}


/* Animation */

.slide-fade-enter-active {
    transition: all .3s ease-out;
}

.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
}
